.menu_bottom{
	&_title{
		color: #fdfdfd;
		font-family: $fontBold;
		font-size: 19px;
		margin-bottom: 30px;
		span{
			display: inline-block;
			border-bottom: 2px solid #cf7d2e;
			padding-bottom: 6px;
		}
	}
	&_list{
	}
	&_item{
		padding-left: 22px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			width: 13px;
			height: 16px;
			background: url('../images/icons.png');
			background-position: 0 -33px;
		}
	}
	&_link{
		font-size: 19px;
		@include link(#fffefe, #fffefe);
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}