.mybreadcrumb{
	padding: 0 0 29px 0;
	&_link{
		@include link(#6a6767, #6a6767);
		position: relative;
		text-decoration: none;
		font-size: 13px;
		margin: 0 0 0 18px;
		&:hover{
			text-decoration: underline;
		}
		&:before{
			content: ">";
			color: #6a6767;
			font-size: 12px;
			position: absolute;
			top: 0;
			left: -12px;
		}
		@include old-ie{
			*zoom: expression(
			this.runtimeStyle.zoom="1",
			this.appendChild( document.createElement("small") ).className="breadcrumb_before"
			);
			*+html &{
				margin-right: 15px;
			}
			.breadcrumb_before{
				background: url("../images/bread.png")no-repeat #fff;
				width: 8px;
				height: 9px;
				position: absolute;
				top: 0;
				left: -12px;
			}
		}
		&:first-child {
			margin: 0 0 0 0;
		}
		&:first-child:before {
			display: none; 
		}
		@include old-ie{
			&:first-child .breadcrumb_before {
				display: none;
			}
		}
	}
 &_item{
   color: #9c9b9b;
   position: relative;
   font-size: 13px;
   margin: 0 0 0 18px;
   &:before{
      content: ">";
			color: #6a6767;
			font-size: 12px;
			position: absolute;
			top: 0;
			left: -12px;
    }
    @include old-ie{
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.appendChild( document.createElement("small") ).className="breadcrumb_before"
      );
      *+html &{
        margin-right: 15px;
      }
      .breadcrumb_before{
        background: url("../images/bread.png")no-repeat #fff;
				width: 8px;
				height: 9px;
				position: absolute;
				top: 0;
				left: -12px;
      }
    }
 }
}