.special{
	padding: 12px;
	//background-color: #f3841b;
	background-color: #ff0000;
	position: fixed;
	z-index: 30;
	right: 0;
	top: 50%;
	margin-top: -85px;
	&_wrap{
		position: relative;
		//background-color: #f3841b;
		background-color: #ff0000;
		border: 1px dotted #fef1e4;
	  padding: 17px 25px 25px 25px;
		&:before{
			content: " ";
		  position: absolute;
		  top: 50%;
		  margin-top: -41px;
		  left: -30px;
		  width: 34px;
		  height: 82px;
			background: url('../images/special.png');
		}
		a{
			display: block;
			height: 100%;
			margin: -17px -25px -25px -25px;
			padding: 17px 25px 25px 25px;
			@include link(#fdfdfd, #fdfdfd);
			text-decoration: none;
		}
		p{
			color: #fdfdfd;
			text-align: center;
		}
	}
	&_close {
    background: url("../images/form-popup-close.png");
    bottom: auto;
    height: 18px;
    opacity: 0.8;
    right: 20px;
    top: 18px;
    width: 22px;
    margin: 0;
    position: absolute;
    text-indent: -9999px;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover{
    	opacity: 1;
    }
	}
}