.title{
	text-align: center;
	p{
		color: #61605f;
		font-size: 30px;
		text-indent: 0;
	}
	h1{
		font-family: $fontBold;
		color: #5eabb7;
		position: relative;
		padding: 0 190px;
		margin-bottom: 25px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 93px;
			top: 10px;
			width: 80px;
			height: 2px;
			background-color: #44a2b0;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			right: 93px;
			top: 10px;
			width: 80px;
			height: 2px;
			background-color: #44a2b0;
		}
	}
}