.user-content{
	padding-bottom: 86px;
	h1{
		font-family: $fontBold;
		font-size: 28px;
		color: #5da9b4;
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	h2{
		font-family: $fontBold;
		font-size: 24px;
		color: #6a6a6d;
		margin-bottom: 7px;
	}
	p{

	}
}