*{
  box-sizing: border-box;
}
body{
  font-family: $font;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $fontColor;
  min-width: $minWidth;
  position: relative;
  //-webkit-font-smoothing: antialised;
}
.inner{
  max-width: $maxWidth;
  padding: $innerPadings;
  margin: 0 auto;
}
a{

}
p{

}
h1{
  font-family: $fontBold;
  font-size: 28px;
  text-transform: uppercase;  
}
h2{

}
b, strong{
  font-family: $fontBold;
}
em{
  font-style: italic;
}
textarea{
  font-family: $font;
  resize: none;
  box-shadow: none;
  border-radius: 0px;
}
input{
  box-shadow: none;
  border-radius: 0px;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea{
  &:focus{
    outline: none;
  }
}
pre{
  word-wrap: break-word;
}
::-webkit-input-placeholder {
  font-family: $font;
  color: #434242;
  font-size: 20px;
}
:-moz-placeholder {
  font-family: $font;
  color: #434242;
  font-size: 20px;
}
::-moz-placeholder {
  font-family: $font;
  color: #434242;
  font-size: 20px;
}
:-ms-input-placeholder {
  font-family: $font;
  color: #434242;
  font-size: 20px;
}
::-ms-input-placeholder {
  font-family: $font;
  color: #434242;
  font-size: 20px;
}
:placeholder-shown {
  font-family: $font;
  color: #434242;
  font-size: 20px;
}
.hide{
  display: none;
}