@font-face {
    font-family: 'AvantGardeCTT-Regular';
    src: url('../fonts/AvantGardeCTT-Regular.eot');
    src: url('../fonts/AvantGardeCTT-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvantGardeCTT-Regular.woff') format('woff'),
         url('../fonts/AvantGardeCTT-Regular.ttf') format('truetype'),
         url('../fonts/AvantGardeCTT-Regular.svg#AvantGardeCTT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvantGardeCTT-Bold';
    src: url('../fonts/AvantGardeCTT-Bold.eot');
    src: url('../fonts/AvantGardeCTT-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvantGardeCTT-Bold.woff') format('woff'),
         url('../fonts/AvantGardeCTT-Bold.ttf') format('truetype'),
         url('../fonts/AvantGardeCTT-Bold.svg#AvantGardeCTT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}