$font: AvantGardeCTT-Regular, sans-serif;
$fontBold: AvantGardeCTT-Bold, sans-serif;
$fontSize: 20px;
$lineHeight: 1.25;
$fontColor: #212121;
$maxWidth: 1024px;
$minWidth: 768px;
$innerPadings: 0 12px;